<th:block th:include="@{_header.html}"/>
<script>
$(document).ready(function(){
    let resultCode = ''; // 전역 변수로 resultCode 선언

    $('.btnEmailAuth').click(function(e){
        e.preventDefault();
        let userEmail = $('#email').val();
        let authCode = make_AuthCode();
        
        if(userEmail != ''){
            alert("인증코드 전송..!");
            $('div[name=email-auth]').css("display","block");
            let jsonData = {
                'userEmail' : userEmail,
                'authCode'   : authCode
            };
            
            console.log("인증 코드는 .. " + authCode);
            
            $.ajax({
                url : '/Survivor.io/emailAuth',
                method : 'GET',
                data : jsonData,
                dataType : 'JSON',
                success : function(data){
                	resultCode = data['authCode']; // 최신의 인증 코드 값을 설정
                }
            });
            
        } else {
        	alert("이메일을 입력해주세요.");
        }
    });
    
    // 확인 버튼 클릭 이벤트 핸들러 등록
    $(document).on('click', '.btnEmailAuthCodeCheck', function(e){
        e.preventDefault();
        console.log(resultCode); // 최신의 resultCode 값을 출력하거나 사용
    });
    
    
    
    
    
	/*
	$('.btnHpAuth').click(function(e){
		e.preventDefault();
		
		let hp = $('#hp').val();
		
		if(hp == ''){
			alert("전화번호를 입력해주세요.");
		}else{
			alert("인증코드 전송..!");
			$('div[name=hp-auth]').css("display","block");
		
			let jsonData = {'hp' : hp};
			
			$.ajax({
				url : '/Survivor.io/HpMesaageAuth',
				method : 'GET',
				data : jsonData,
				dataType : 'JSON',
				success : function(data){
					if(data['statusCode'] == '2000'){
						let authCode = data['code'];
						let isCheck  = true;
						
						$('').click(function(){
							
						});

					}else{
						console.log('실패');
						isHpOk = false;
					}
				},
				error : function(error){
					console.log(error);
				}
			});
		}
	});
	*/
});

</script>
    <main class="container">
        <div class="post-list">
            <h2>회원가입</h2>
            <form class="signup-form" method="post" th:action="@{/memberSignUp}">
                <div class="form-group">
                    <label for="username">사용자 이름</label>
                    <input type="text" id="username" name="username" >
                </div>
                <div class="form-group">
                    <label for="username">닉네임</label>
                    <input type="text" id="nick" name="nick" >
                </div>                
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password" >
                </div>
                <div class="form-group">
                    <label for="confirm-password">비밀번호 확인</label>
                    <input type="password" id="confirm-password" name="password-check">
                </div>
                <div class="form-group">
                    <label for="confirm-email">이메일</label>
                    <input type="text" id="email" name="email" placeholder="이메일 입력">
                    <button class="btnEmailAuth">인증하기</button>
                </div> 
				<div class="form-group" name="email-auth">
				    <label for="confirm-email">이메일 인증번호 입력</label>
					<input type="text" id="email-auth-check" placeholder="인증코드 입력">
				    <button class="btnEmailAuthCodeCheck">인증확인</button>
				</div> 				      
                <div class="form-group">
                    <label for="confirm-hp">전화번호</label>
                    <input type="text" id="hp" name="hp" >
                    <button class="btnHpAuth">인증하기</button>
                </div>     
				<div class="form-group" name="hp-auth">
				    <label for="confirm-hp">휴대폰 인증번호 입력</label>
					<input type="text" id="hp-auth-check" placeholder="인증코드 입력">
				    <button class="btnHpAuthCodeCheck">인증확인</button>
				</div>                                       
                <button type="submit" class="btnSignUp">회원가입</button>
            </form>
        </div>
    </main>
<th:block th:include="@{_footer.html}"/>

