<th:block th:include="@{_header.html}"/>
    <main class="container">
        <div class="post-list">
            <h2>회원가입</h2>
            <form class="signup-form" method="post" th:action="@{/memberSignUp}">
                <div class="form-group">
                    <label for="username">사용자 이름</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password">비밀번호 확인</label>
                    <input type="password" id="confirm-password" name="password-check" required>
                </div>
                <button type="submit" class="btn">회원가입</button>
            </form>
        </div>
    </main>
<th:block th:include="@{_footer.html}"/>

