<th:block th:include="@{_header.html}"/>
<script>

$(document).ready(function(){

    
});

</script>
    <main class="calculator-container">
        <section class="instructions">
            <h2>치명타 확률 계산</h2>
        </section>
        <section class="calculator">
        	<table class="calculator-table">
				<tr>
					<td>지구진화</td>
					<td th:each="character : ${characters_Gen}" style="display: flex; place-content: center; border-left: none;">
						<input type="checkbox" class="calculator-li-check" th:value="${character.percent}">
						<img alt="" th:src="'./img/' + ${character.img}" style="width: 50px; height: 55px; margin-right: 10px; border-radius: 50%;">
					</td>
				</tr>  
				<tr>
					<td>특공대</td>
					<td style="display: flex;">
						<ul style="margin-left: 10px;">
							<th:block th:each="character : ${characters_1}">
								<li class="calculator-li">
									<input type="checkbox" class="calculator-li-check" th:value="${character.percent}">
									<img alt="" th:src="'./img/' + ${character.img}">
									<p th:text="${character.cname} + ${character.level}" style="font-size: 14px;"></p>
								</li>							
							</th:block>
						</ul>
						<ul style="margin-left: 45px;">
							<th:block th:each="character : ${characters_2}">
								<li class="calculator-li">
									<input type="checkbox" class="calculator-li-check" th:value="${character.percent}">
									<img alt="" th:src="'./img/' + ${character.img}">
									<p th:text="${character.cname} + ${character.level}" style="font-size: 14px;"></p>
								</li>							
							</th:block>
						</ul>						
					</td>
				</tr>
				<tr>
					<td>장비</td>
					<td class="equipment">
						<ul style="margin-left: 10px;">
							<th:block th:each="character : ${characters_Equip}">
								<li class="calculator-li">
									<input type="checkbox" class="calculator-li-check" th:value="${character.percent}">
									<img alt="" th:src="'./img/' + ${character.img}">
									<p th:text="${character.cname} + ${character.level}" style="font-size: 14px;"></p>
								</li>								
							</th:block>	
						</ul>							
					</td>
				</tr>	
				<tr>
					<td>펫</td>
					<td class="pet">
						<input type="text" placeholder="펫 치명타 확률 입력">
					</td>
				</tr>							
				<tr>
					<td>컬렉션</td>
					<td class="collection">
						<input type="text" placeholder="컬렉션 치명타 확률 입력">
					</td>
				</tr>
				
				<tr>
					<td>치명타 확률</td>
					<td class="result">
						<input type="text" placeholder="내 치명타 확률이 표시됩니다." readonly="readonly">			
					</td>
				</tr>				        	
        	</table>
        	<button class="btnCalculator">계산</button>
        </section>
    </main>
<th:block th:include="@{_footer.html}"/>

