<th:block th:include="@{_header.html}"/>
    <main class="container">
        <section class="instructions">
            <h2>사용 방법</h2>
	        <div class="image-container">
	            <div class="image-item">
	                <img th:src="@{./img/capture3.png}" alt="Image 1">
	                <p style="text-align: center;">등록하기 버튼 클릭</p>
	            </div>
	            <div class="image-item">
	                <img th:src="@{./img/capture2.png}" alt="Image 2">
	                <p >게임아이디와 자동입력방지 문자 입력 후 Redeem 클릭</p>
	            </div>
	        </div>
        </section>
    </main>
<th:block th:include="@{_footer.html}"/>

