<th:block th:include="@{_header.html}"/>
 <script>
     var IMP = window.IMP;
     IMP.init("imp84685320");

     function requestPay() {
    	 
         IMP.request_pay(
             {
            	//KG이니시스 pg파라미터 값
                pg: "html5_inicis",		
              	//결제방법
                pay_method: "card",		
              	//주문번호
                merchant_uid: "1234578",
              	//상품명
                name: "당근 10kg",
        		//금액
               	amount: 1000,	
   				buyer_email: "gildong@gmail.com",
   				buyer_name: "홍길동",
   				buyer_tel: "010-4242-4242",
   				buyer_addr: "서울특별시 강남구 신사동",
   				buyer_postcode: "01181"
  	
             },
             function (rsp) {
   				//rsp.imp_uid 값으로 결제 단건조회 API를 호출하여 결제결과를 판단합니다.
                 if (rsp.success) {
                     //서버 검증 요청 부분
                 } else {
                     alert("결제에 실패하였습니다. " + rsp.error_msg);
                 }
             }
         );
     }
 </script>
    <main class="container">
        <section class="product-list">
            <div class="product-item">
                <img th:src="@{./img/thumb-7YWM7Iqk7Yq4_640x.jpg}" alt="Product 1">
                <h2>테스트용 상품1</h2>
                <p>Description of Product</p>
                <span class="price">1000원</span>
                <button onclick="requestPay()">주문하기</button>
            </div>
            <div class="product-item">
                <img th:src="@{./img/thumb-7YWM7Iqk7Yq4_640x.jpg}"  alt="Product 2">
                <h2>테스트용 상품2</h2>
                <p>Description of Product</p>
                <span class="price">2000원</span>
                <button onclick="requestPay()">주문하기</button>
            </div>
            <div class="product-item">
                <img th:src="@{./img/thumb-7YWM7Iqk7Yq4_640x.jpg}"  alt="Product 3">
                <h2>테스트용 상품3</h2>
                <p>Description of Product</p>
                <span class="price">3000원</span>
                <button onclick="requestPay()">주문하기</button>
            </div>
            <div class="product-item">
                <img th:src="@{./img/thumb-7YWM7Iqk7Yq4_640x.jpg}"  alt="Product 4">
                <h2>테스트용 상품4</h2>
                <p>Description of Product</p>
                <span class="price">4000원</span>
                <button onclick="requestPay()">주문하기</button>
            </div>                        
            <!-- Add more product items here -->
        </section>
    </main>
<th:block th:include="@{_footer.html}"/>

