<th:block th:include="@{_header.html}"/>
    <main class="container">
        <section class="product-list">
            <div class="product-item" th:each="list : ${lists}">
                <img th:src="@{'./img/' + ${list.img}}" alt="Product Image">
                <h2>[[${list.name}]]</h2>
                <p>[[${list.description}]]</p>
                <span class="price">[[${list.price}]]</span>
                <button th:onclick="|location.href='./order?pno=${list.pno}'|">주문하기</button>
            </div>
        </section>
    </main>
<th:block th:include="@{_footer.html}"/>

